:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .navbar{
    background-color: #2d013d !important;
  }
  .lead {
    font-size: 1.25rem;font-weight: 300;background-color: #17023599;color: whitesmoke;border-radius: 10px;
}

.navbar-dark .navbar-brand {
  color: #fff;
  gap: 6px;
}

.btn-primary{
  background-color: #2d013d;
  border-color: #6e0d93;
}

.btn-primary:hover{
  background-color: #6e0d93 !important;
  border-color: #840eb3 !important;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  gap: 10px; /* Thêm khoảng cách giữa các nút trong nhóm */
}

.align-items-center{
  gap: 10px;
}

.price b{
  color: #6e0d93;
}