:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow {box-shadow: 0 .25rem .75rem rgba(61, 0, 85, 0.979);}
  .navbar{
    background-color: #2d013d !important;
  }
  .lead {
    font-size: 1.25rem;font-weight: 300;background-color: #17023599;color: whitesmoke;border-radius: 10px;
}

.navbar-dark .navbar-brand {
  color: #fff;
  gap: 6px;
}